<div class="content">
    
  </div>
  
<footer class="footer-main">
    <div class="footer-info">

        <div class="footer-info-brand">&copy;Alumninest Private Limited</div> 

        <div class="footer-info-socials">
           <a><i class="fa-brands fa-instagram"></i></a>
           <a><i class="fa-brands fa-facebook"></i></a>
           <a><i class="fa-brands fa-linkedin"></i></a>
        </div>
       
        <div class="footer-info-Links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>
