
<body class="nav-body">
    <div class="nav-div">
<nav class="navbar navbar-expand-lg p-3">
    <div class="container-fluid">
        <button class="toggle-button" id="toggle-sidebar" aria-label="Toggle sidebar">
            <div class="toggle-line"></div>
            <div class="toggle-line"></div>
            <div class="toggle-line"></div>
        </button>
        <a class="navbar-brand" href="#">
            <img src="https://media.tenor.com/Ud8Px21wDcYAAAAi/thisisfinland-finland.gif" alt="Logo">
            <span>AlumniNest</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/connections">Connections</a></li>
                <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/groups">Groups</a></li>
                <% if(!currUser) { %>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Register</a>
                        <ul class="dropdown-menu" aria-labelledby="registerDropdown">
                            <li><a class="dropdown-item" href="/alumninext/register/student">Student</a></li>
                            <li><a class="dropdown-item" href="/alumninext/register/alumni">Alumni</a></li>
                            <li><a class="dropdown-item" href="/alumninext/register/faculty">Faculty</a></li> <!-- Updated href -->
                        </ul>
                    </li>
                    <li class="nav-item "><a class="nav-link" href="/login">Login</a></li> <!-- Moved outside -->
                <% } %>
                <% if(currUser) { %>
                    <li class="nav-item ms-auto"><a class="nav-link" href="/logout">Logout</a></li>  
                <% } %>
                

            </ul>
            <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">🌙</button>
        </div>
    </div>
</nav>

<aside class="sidebar" id="sidebar" aria-label="Sidebar">
    <a href="#profile">My Profile</a>
    <a href="#mentors">My Mentors</a>
    <a href="#about-college">About College</a>
    <a href="#feedback">Feedback</a>
</aside>

</div>

</body>
