
<body>
<nav class="navbar">
    <div class="left-section">
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="navbar-brand">
            <img src="Screenshot (85).png" alt="Website Icon" class="icon">
            <span class="website-name">AlumniNest</span>
        </div>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/connections">Connections</a></li>
        <li><a href="/events">Event</a></li>
        <li><a href="/groups">Groups</a></li>
        <li class="dropdown">
            <% if(!currUser) { %>
            <a href="#">Register</a>
            <ul class="dropdown-content">
                <li><a href="/alumninext/register/student">Student</a></li>
                <li><a href="/alumninext/register/alumni">Alumni</a></li>
                <li><a href="/faculty/register">Faculty</a></li>

            </ul>
        </li>
        <li><a href="/login">Login</a></li>
        <% } %>
      <% if(currUser) { %>
        <li><a href="/logout">Logout</a></li>
        <% } %>
        
    </ul>
</nav>


<!-- Toggle Menu Content -->
<div class="side-menu">
    <ul>
        <li><a href="#">My Profile</a></li>
        <li><a href="/connections">My Connections</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/startups">Startups</a></li>
        <li><a href="/jobportal">Jobs</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/groups">Groups</a></li>

    </ul>
</div>
</body>