<% title='Home page' %>
<body>
    <form action="/alumninext/register/student" method="GET">
        <button>register as student</button>
    
    </form>

    <form action="/alumninext/register/alumni" method="GET">
        <button>register as alumni</button>
    
    </form>
</body>
